<%- include('../inc/head.ejs') %>
</head>
<%- include('../inc/nav.ejs') %>

<body>
    <main>
        <form action="/reset-password" method="post" class="auth-form">
            <div class="form-control">
                <label for="email"> E-mail </label>
                <input id="email" type="email" name="email">
            </div>
            <div class="form-flex-wrap">
                <button class="btn" type="submit">Reset Password</button>
                <a class="link" href="/login">Login</a>
            </div>
        </form>
    </main>
    <%- include('../inc/end.ejs') %>