* {margin:0;padding: 0;box-sizing: border-box;font-size: 100%;}
body {font-family: system-ui,'Segoe UI',sans-serif;}
.main-header {margin-bottom: 2rem;padding: 1rem 1.5rem;background: #069;color: #fff;display: flex;}
.main-header h1 {font-size: 2rem;}
.main-header h1 a {color: inherit;text-decoration: none;}
.main-header > * {flex: 1;}
.main-header nav {text-align: right;padding: 10px;}
.main-header ul li {display: inline-block;margin-left: 1rem;}
.main-header li a {color: #fff;text-decoration: none;}
.main-header li a:hover {color: #ccc;}
.main-header li .active {text-decoration: underline;}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui,'Segoe UI', sans-serif;
}

.wrapper {
  padding: 1.5rem;
}

.wrapper h2 {
  font-size: 1.5rem;
}

main {
  padding: 1rem;
  margin: auto;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #069;
  padding: 0 1.5rem;
}

.main-header_nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header_item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header_item {
  margin: 0 1rem;
  padding: 0;
}

.main-header_item a {
  text-decoration: none;
  color: white;
}

.main-header_item a:hover,
.main-header_item a:active,
.main-header_item a.active {
  border-bottom: 1px solid #fff;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card_header,
.card_content {
  padding: 1rem;
}

.card_header h1,
.card_content h1,
.card_content h2,
.card_content p {
  margin: 0;
}

.card_image {
  width: 100%;
}

.card_image img {
  width: 100%;
}

.card_actions {
    padding: 1rem;
    text-align: center;
}

.card_actions button,
.card_actions a {
    margin: 0 0.25rem;
}

.btn {
  font: inherit;
  border: 1px solid #069;
  color: #00695c;
  padding: 5px 10px;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #069;
  color: white;
}


.add-product {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.add-product input {
    display: block;
    width: 100%;
    padding: 5px;
}

.add-product input[type="text"] {
}

.add-product > div {
    margin-bottom: 10px;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin-bottom: 2rem;
}

.product_title {
    font-size: 1.2rem;
    text-align: center;
}

.product_price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product_description {
    text-align: center;
}