* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  font-family: system-ui,'Segoe UI';
}

.main-header {
  background: #069;
  display: flex;
  padding: 1rem;
  color: #fff;
}

.main-header h1 {
  flex: 1;
}

.main-header h1 a {
  color: inherit;
  text-decoration: none;
}

.main-header__nav {
  flex: 1;
  text-align: right;
  float: right;
}

.main-header__nav li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.main-header__nav li a {
  color: #fff;
  text-decoration: none;
  transition: .4s ease-out background;
}

.main-header__nav a:hover {
  text-decoration: underline;
}

.main-header__nav li a.active {
  background: #fff;
  padding: 10px;
  color: #069;
  border-radius: 50px;
}

.content {
  margin: 2rem;
}

/* Grid */

.centered {
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card_header,
.card_content {
  padding: 1rem;
}

.card_header h1,
.card_content h1,
.card_content h2,
.card_content p {
  margin: 0;
}

.card_image {
  width: 100%;
}

.card_image img {
  width: 100%;
}

.card_actions {
    padding: 1rem;
    text-align: center;
}

.card_actions form {
  display:inline-block;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}

.btn {
  text-decoration: none;
  font: inherit;
  border: 1px solid #069;
  color: #00695c;
  padding: 5px 10px;
  background: white;
  border-radius: 3px;
  cursor: pointer;
  transition: .4s ease-out background;
}

.btn:hover,
.btn:active {
  background-color: #069;
  color: white;
}






/* Products */
.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    padding: 20px;
    margin: 2%;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}

/* Product Form */
.product-form {
  width: 25rem;
  max-width: 90%;
  margin: auto;
}

.product-form textarea {
  width: 100%;
}

.product-form label {
  line-height: 1.5;
}

.product-form > div {
  margin-bottom: 10px;
}

.product-form input[type="text"],.product-form input[type="number"],.product-form textarea {
  border: 1p solid #ccc;
  padding: 7px 5px;
  width: 100%;
  display: block;
}

.product-item {
  width: 20rem;
  max-width: 95%;
  margin-bottom: 2rem;
}

.product_title {
  font-size: 1.2rem;
  text-align: center;
}

.product_price {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}

.product_description {
  text-align: center;
  line-height: 2;
}

