.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.product-form input {
    display: block;
    width: 100%;
    padding: 5px;
}

.product-form input[type="text"] {
}

.product-form > div {
    margin-bottom: 10px;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin-bottom: 2rem;
}

.product_title {
    font-size: 1.2rem;
    text-align: center;
}

.product_price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product_description {
    text-align: center;
    line-height: 2;
}